<head>
  <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>

<body>

  <div class="header">
    <h1>Thank you for your submission!</h1>
  </div>
<a href= '/'> <center> Click here to go Home </center> </a>
</body>
